html{
  background-color: #dbd6cf;
}

body{
  background-color: ;
  padding: -100em 2em 3em 4em;
  /* margin numbers:top/bottom/left/right */
}

h1{
  text-align: center;
  color: white;
  font-size: 2.5rem;
}

nav ul{
  list-style-type: none;
  padding: 0;
  margin: 0;
}

nav li{
  display: inline;
}

nav{
  text-align: center;
}

nav a{
  display: inline-block;
  padding: 1em 1em 1em 1em;
  margin: .2em .2em .2em .2em;
  background-color: #703838;
  color: white;
  text-decoration: none;
  border-radius: .5em;
}

a:hover{
  color: black;
}

h2{
  text-align: left;
  color: #79756f;
}

.name{
  text-align: right;
}

h3{
  text-align: left;
  color: #79756f;
}

ol{
  list-style-type: lower-roman;
}

figure{
  border: 5px solid;
  border-radius: 10px;
  color: #79756f;
  padding: 1em;
  margin: 1em;
}

figcaption{
  text-align: center;
  margin: .5em .5em .5em .5em;
  color: black;
}
